<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LANGUTORO | Main Page</title>
</head>
<body>
    <nav>
        <ul>
            <li>
                <a href="#start"><strong>LANGUTORO</strong></a>
            </li>

            <li>
                <a href="#about">About</a>
            </li>

            <li>
                <a href="#learning">Learning</a>
            </li>
            <li>
                <a href="#contact">Contact</a>
            </li>
            <li>
                <a href="#login">Log In</a>
            </li>
        </ul>
    </nav>

    <section>
        <hgroup>
            <h2>L A N G U T O R O</h2>
            <h4>Learn language and discover the purity of Japanese cultural heritage</h4>
        </hgroup>

        <p>"<strong>Language</strong> is a mirror in which we see the world, and at the same time, a force that shapes that world."</p>
        <p>Kitaro Nishido, 1911.</p>
    </section>
    
    <section id="about">
        <p>Through language, a person doesn’t simply describe the world but also assigns meaning.</p>
        <p><strong>LANGUTORO</strong> is</p>
        <p>an interactive platform for deepening the knowledge of Japanese traditional culture and philosophy of life by learning the language.</p>
    </section>

<footer><p><small>&#169; <time datetime="2025">2025</time> by Volha Sakaloŭskaja</small></p></footer>
</body>
</html>